.projects {
  background-color: var(--light-green); 
  color: var(--light-cream); 
  margin: 0; 
  padding: 5rem 8rem; 
}

@media (max-width: 1023px) {
  .projects {
    padding: 5rem 2rem; 
  }
}

.projects h2 {
  font-size: 2rem;
  font-size: clamp(2rem, 1.647887323943662rem + 1.5023474178403755vw, 3rem);
  margin: 0 0 2rem 0; 
}

.project-cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr; 
  /* grid-auto-flow: column;
  grid-auto-columns: 30%; */
}

.single-card {
  width: 35%;
}

.popup-card {
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%) scale(1);
  transition: 500ms ease-in-out;
  z-index: 10;
  width: 600px;
  max-width: 80%;
  border-radius: 20px;
}


#overlay {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  pointer-events: all;
}