@keyframes slide {
  from {
    transform: translateX(0);
  } 
  to {
    transform: translate(-100%);
  }
}

.tech-stack-slide {
  animation: 15s slide infinite linear;
  white-space: nowrap;
}

.tech-stack-slide img {
  width: 10%; 
  margin: 0 15px 0 0 ;
}