.main-page { 
  z-index: 1;
}

@media (min-width: 1024px) {
  .main-page {
    margin-left: calc(var(--hamburger-margin) * 2 + var(--bar-width)); 
  }
}

@media (max-width: 1023px) {
  .main-page {
    margin-top: 4rem; 
  }
}