.home {
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home h1 {
  margin: 0;
  font-size: 6rem; 
}

.home p {
  max-width: 70%;
  font-size: 1.2rem; 
  text-align: center;
  padding: 0 0 1rem 0;
}

.home button {
  padding: 1em; 
  border-radius: 30px;
  background-color: #E8DFCA;
  color: #4F6F52;
  border: 2px solid #4F6F52; 
  font-size: 1rem; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.home button:hover {
  background-color: #4F6F52;
  color: #E8DFCA;
  cursor: pointer;
}

