.contact-form {
  display: flex; 
  flex-direction: column;
  width: 100%;
}

.contact-form form {
  display: flex; 
  flex-direction: column;
}

.name, .email, .message {
  margin-bottom: 1rem;
  background-color: var(--cream);
  border: 2px solid var(--dark-green);
  font-family: Georgia, 'Times New Roman', Times, serif; 
}

.message {
  min-height: 6rem;
}

.form-button {
  background-color: var(--dark-green);
  color: var(--light-cream); 
  padding: 0.5rem; 
  width: 20%;
  border: none; 
  border-radius: 20px;
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-button:hover {
  cursor: pointer;
  background-color: var(--cream);
  color: var(--dark-green); 
  border: 2px solid #4F6F52;
}

.contact-form label {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 767px){
  .contact-form {
    width: 90%;
  }
}
