.sidebar, .sidebar.open {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: fixed; 
}

.sidebar.open {
  z-index: 5;
}

.sidebar-button::before,
.sidebar-button::after,
.sidebar-button input {
  margin: 0;
  padding: 0;
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--cream);
  border-radius: 1000px;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing);
  transform-origin: left center;
}

.sidebar-button input {
  appearance: none;
  pointer-events: none;
  outline: none;
  cursor: pointer;
}

.sidebar-button input:checked {
  opacity: 0;
  width: 0;
}

.sidebar-button:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.sidebar-button:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.sidebar-menu {
  visibility: hidden;
  padding-left: calc(var(--hamburger-margin) * 2 + var(--bar-width));
  display: flex;
  background-color: var(--dark-green);
  min-height: 100vh;
  width: calc(100vw - calc(var(--hamburger-margin) * 2 + var(--bar-width)));
}

.sidebar-menu.open {
  visibility: visible;
}

.sidebar-menu .link {
  visibility: hidden;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--light-cream);
  color: var(--cream);
  font-size: 1.5rem;
  margin: 0; 
  padding: 0; 
  transition: 
    width 0.8s cubic-bezier(0.08, 0.03, 0.22, 0.87) 0.15s, 
    padding 0.8s cubic-bezier(0.08, 0.03, 0.22, 0.87) 0.15s, 
    background-color 2s cubic-bezier(0.08, 0.03, 0.22, 0.87), 
    border 2s cubic-bezier(0.08, 0.03, 0.22, 0.87) 0.15s;
}

/* Adds a left border to the home item link */
.sidebar-menu .link.home-item {
  border-left: 1px solid var(--light-cream);
}

.sidebar-menu .link.contact-item {
  border: none; 
}

.sidebar-menu.open .link {
  visibility: visible;
}

.sidebar-menu.open .link:hover {
  background-color: var(--light-green);
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

@media (min-width: 1024px) {
  .sidebar-left {
    width: calc(var(--hamburger-margin) * 2 + var(--bar-width));
    background-color: var(--dark-green);
    position: fixed;
    min-height: 100vh;
  }

  .sidebar-button {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    cursor: pointer;
    padding: var(--hamburger-margin);
  }
}

/* Styles for screens below 1024px */
@media (max-width: 1023px) {
  .sidebar.open {
    z-index: 10;
  }

  .sidebar-left {
    position: sticky;
    width: 100%;
    background-color: var(--dark-green);
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: calc(var(--hamburger-margin)*0.8) var(--hamburger-margin);
  }

  .sidebar-button {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    position: relative;
    z-index: 10;
    background-color: var(--dark-green);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    cursor: pointer;
  }

  .sidebar-menu {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
  }

  .sidebar-menu .link {
    border: none;
    padding-right: calc(var(--hamburger-margin)* 2 + var(--bar-width));
  }
  
  .sidebar-menu .link.home-item {
    border: none; 
  }

  .sidebar-menu .link.contact-item {
    margin-bottom: 4rem;
  }
}

