.experience-card {
  background-color: var(--light-cream); 
  border: 3px solid var(--dark-green);
  width: 35%;
  padding: 1rem; 
  border-radius: 20px;
}

.experience-card:hover {
  box-shadow: 12px 12px 8px rgba(0, 0, 0, .5);
  transition: 1s ease;
  cursor: pointer;
}

.experience-card h3 {
  color: black;
  margin: 0.5rem 0 1rem 0; 
  padding: 0; 
}

.experience-card h4 {
  font-size: 1.2rem;
  margin: 0 ; 
  padding: 0;
}

.experience-card h5 {
  font-size: 1rem;
  margin: 0 0 1rem 0; 
  padding: 0;
}

.experience-card p {
  font-size: 1rem;
  margin: 0; 
  padding: 0; 
  line-height: 1.4;
}

.experience-card img {
  width: 100%;
}

.experience-card a {
  text-decoration: none;
  color: black;
}

